<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
<a href="index.xhtml">Menu</a>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel id="userNameLabel" for="j_username" value="Username:" />
			<h:selectOneMenu value="#{display.user}"
				converter="#{userConverter}" id="j_username">
				<f:selectItems value="#{display.users}" var="user"
					itemValue="#{user}"
					itemLabel="#{user.login}" />
			</h:selectOneMenu>
			<h:outputLabel id="passwordLabel" for="j_password" value="Password:" />
			<h:inputSecret id="j_password" value="#{display.password}"/>
			<div />
			<h:panelGroup>
				<h:commandButton type="submit" value="Change!" action="#{display.updateUserPassword}"/>
				<h:commandButton type="reset" value="Reset" />
			</h:panelGroup>
		</h:panelGrid>
	</h:form>
</body>
</html>
