<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
	<a href="index.xhtml">Menu</a>
	<h:form>
		<h:panelGrid columns="2">
	Category: <h:inputText readonly="true" value="#{editElement.element.category.type}[#{editElement.element.category.property}]" />
Type: <h:inputText readonly="true" value="#{editElement.element.type}" />
Name: <h:inputText readonly="true" value="#{editElement.element.name}"></h:inputText>
#{display.userIdResource}: <h:inputText readonly="true"
				value="#{editElement.element.resources}"></h:inputText>
#{display.userIdAttribute}: <h:inputText readonly="true"
				value="#{editElement.element.attribute}"></h:inputText>
			<h:commandButton value="Cancel" action="#{editElement.cancel}" />
			<h:commandButton value="Confirm" action="#{editElement.save}" />
		</h:panelGrid>
	</h:form>
</body>

</html>
