<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<title><ui:insert name="title">Default title</ui:insert></title>
</h:head>

<h:body>
	<a href="manage_element.xhtml">Add element</a>
	<a href="manage_category.xhtml">Add category</a>
	<a href="view.xhtml">View</a>
	<a href="change_pass.xhtml">Change password</a>
	<h:form>
		<h:commandLink action="#{display.logout}">Logout</h:commandLink>
	</h:form>
<h:panelGroup id="tableBestStats">
	<h:dataTable value="#{stats.bestElements}" var="element" id="bestStats">
		<h:column>
			<f:facet name="header">Type</f:facet>
					#{element.type}
				</h:column>
		<h:column>
			<f:facet name="header">Name</f:facet>
					#{element.name}
				</h:column>
		<h:column>
			<f:facet name="header">#{display.resourceName}</f:facet>
					#{element.resources}
				</h:column>
		<h:column>
			<f:facet name="header">#{display.attributeName}</f:facet>
					#{element.attribute}
				</h:column>

	</h:dataTable>
	</h:panelGroup>
<p:socket channel="/elementEvent" >
	    <p:ajax event="message" update="tableBestStats"  />
</p:socket>
</h:body>

</html>
