<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
<a href="index.xhtml">Menu</a>
	<h:form>
		<h:panelGrid columns="2">
	Category: <h:selectOneMenu value="#{editElement.element.category}"
				converter="#{categoryConverter}" required="true">
				<f:selectItems value="#{editElement.categories}"
					var="category" itemValue="#{category}"
					itemLabel="#{category.type}[#{category.property}]" />
			</h:selectOneMenu>
Type: <h:selectOneMenu value="#{editElement.element.type}">
				<f:selectItems value="#{display.elementTypes}" />
			</h:selectOneMenu>
Name: <h:inputText value="#{editElement.element.name}"></h:inputText>
#{display.userIdResource}: <h:inputText value="#{editElement.element.resources}"></h:inputText>
#{display.userIdAttribute}: <h:inputText value="#{editElement.element.attribute}"></h:inputText>
			<h:commandButton value="Send" action="#{editElement.confirm}">
			</h:commandButton>
		</h:panelGrid>
	</h:form>
</body>

</html>
