<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
<a href="index.xhtml">Menu</a>
	<h:form>
		<h:panelGrid columns="2">
Type: <h:selectOneMenu value="#{display.category.type}">
				<f:selectItems value="#{display.categoryTypes}" />
			</h:selectOneMenu>
#{display.categoryResource}: <h:inputText value="#{display.category.property}"></h:inputText>
			<h:commandButton value="Send" action="#{display.addOrModifyCategory}">
			</h:commandButton>
		</h:panelGrid>
	</h:form>

</body>

</html>
