<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<title><ui:insert name="title">Default title</ui:insert></title>
</h:head>

<h:body>
	<a href="manage_element.xhtml">Add element</a>
	<a href="manage_category.xhtml">Add category</a>
	<a href="index.xhtml">Menu</a>
	<h:form>
		<h:dataTable value="#{display.categories}" var="category">
			<h:column>
				<f:facet name="header">Category</f:facet>
				<h:outputText value="#{category.type}"></h:outputText>
				<br />
				<h:outputText value="#{category.property}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Elements</f:facet>
				<h:dataTable value="#{category.elements.toArray()}" var="element">
					<h:column>
						<f:facet name="header">Type</f:facet>
					#{element.type}
				</h:column>
					<h:column>
						<f:facet name="header">Name</f:facet>
					#{element.name}
				</h:column>
					<h:column>
						<f:facet name="header">#{display.resourceName}</f:facet>
					#{element.resources}
				</h:column>
					<h:column>
						<f:facet name="header">#{display.attributeName}</f:facet>
					#{element.attribute}
				</h:column>
					<h:column>
						<f:facet name="header">Delete</f:facet>
						<p:commandButton value="Delete"
							
							actionListener="#{display.elAttrListener}" partialSubmit="true"
							process="@this" update="@form">
							<f:attribute name="element" value="#{element}" />
						</p:commandButton>
					</h:column>
					<h:column>
						<f:facet name="header">Edit</f:facet>
						<h:commandButton value="Edit" action="manage_element.xhtml"
							actionListener="#{editElement.attrListener}">
							<f:attribute name="element" value="#{element}" />
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</h:column>
			<h:column>
				<f:facet name="header">Delete</f:facet>
				<h:commandButton value="Delete" action="#{display.deleteCategory}"
					actionListener="#{display.catAttrListener}">
					<f:attribute name="category" value="#{category}" />
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">Edit</f:facet>
				<h:commandButton value="Edit" action="manage_category.xhtml"
					actionListener="#{display.catAttrListener}">
					<f:attribute name="category" value="#{category}" />
				</h:commandButton>
			</h:column>
		</h:dataTable>
	</h:form>
</h:body>

</html>
