<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
<h:form id="credentials">
<h:panelGrid columns="3">
Name
<h:inputText id="name" value="#{credentials.name}" required="false"></h:inputText>
<h:message for="name"></h:message>

Last name
<h:inputText id="lastName" value="#{credentials.lastName}" required="true"></h:inputText>
<h:message for="lastName"></h:message>

Age
<h:inputText id="age" value="#{credentials.age}" required="true">
<f:validateLongRange minimum="#{credentials.minAge}" maximum="#{credentials.maxAge}"></f:validateLongRange></h:inputText>
<h:message for="age"></h:message>

Sex
<h:selectOneRadio id="sex" value="#{credentials.sex}">
<f:selectItems value="#{credentials.sexes}"></f:selectItems>
</h:selectOneRadio>
<h:message for="sex"></h:message>

Voivodship
<h:selectOneMenu id="voivodship" value="#{credentials.voivodship}">
<f:selectItems value="#{credentials.voivodships}"></f:selectItems>
<f:ajax event="change" render="confirm"></f:ajax>
</h:selectOneMenu>
<h:message for="voivodship"></h:message>

<h:commandButton id="confirm" value="Confirm!" action="#{credentials.confirm}" disabled="#{credentials.confirmButtonDisabled}" ></h:commandButton>
</h:panelGrid>

</h:form>
</h:body>
</html>