<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>

<h:panelGrid columns="2">
Name
<h:outputText id="name" value="#{credentials.name}"></h:outputText>
Last name
<h:outputText id="lastName" value="#{credentials.lastName}"></h:outputText>
Age
<h:outputText id="age" value="#{credentials.age}"></h:outputText>
Sex
<h:outputText id="sex" value="#{credentials.sex}"></h:outputText>
Voivodship
<h:outputText id="voivodship" value="#{credentials.voivodship}"></h:outputText>
</h:panelGrid>

</h:body>
</html>