<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
<h:form id="survey">
<h:panelGrid columns="3" id="commonData">

Name
<h:inputText id="name" value="#{survey.name}" required="true" label="Name"></h:inputText>
<h:message for="name"></h:message>

Last name
<h:inputText id="lastName" value="#{survey.lastName}"></h:inputText>
<h:message for="lastName"></h:message>

Address
<h:inputText id="address" value="#{survey.address}"></h:inputText>
<h:message for="address"></h:message>

Phone
<h:inputText id="phone" value="#{survey.phone}" label="Phone">
<f:validateRegex pattern="[\d]{9,10}"></f:validateRegex>
</h:inputText>
<h:message for="phone"></h:message>

E-mail
<h:inputText id="email" value="#{survey.email}" required="true" label="E-mail">
<f:validateRegex pattern="[\w\.]*@[\w]*\.[\w\.]*[\w]"></f:validateRegex> </h:inputText>
<h:message for="email"></h:message>

Age
<h:inputText id="age" value="#{survey.age}" ></h:inputText>
<h:message for="age"></h:message>

Height
<h:inputText id="height" value="#{survey.height}" label="Height">
<f:validateLongRange minimum="#{survey.minHeight}" maximum="#{survey.maxHeight}"></f:validateLongRange> </h:inputText>
<h:message for="height"></h:message>

Weight
<h:inputText id="weight" value="#{survey.weight}" label="Weight">
<f:validateLongRange minimum="#{survey.minWeight}" maximum="#{survey.maxWeight}"></f:validateLongRange></h:inputText>
<h:message for="weight"></h:message>

Eyes color
<h:inputText id="eyesColor" value="#{survey.eyesColor}"></h:inputText>
<h:message for="eyesColor"></h:message>

Hair color
<h:inputText id="hairColor" value="#{survey.hairColor}"></h:inputText>
<h:message for="hairColor"></h:message>

Cloth size
<h:inputText id="clothSize" value="#{survey.clothSize}"></h:inputText>
<h:message for="clothSize"></h:message>

Shoe size
<h:inputText id="shoeSize" value="#{survey.shoeSize}"></h:inputText>
<h:message for="shoeSize"></h:message>

Experience
<h:selectOneRadio value="#{survey.experience}" id="experience">
<f:selectItems value="#{survey.experiences}"></f:selectItems>
</h:selectOneRadio>
<h:message for="experience"></h:message>

Sex
<h:selectOneMenu value="#{survey.sex}" id="sex">
<f:selectItems value="#{survey.sexes}"></f:selectItems>
<f:ajax event="change" render="sexChange"></f:ajax>
</h:selectOneMenu>
<h:message for="sex"></h:message>
</h:panelGrid>
<h:panelGroup id="sexChange">
<h:panelGrid columns="3" id="femaleQuery" rendered="#{survey.sex == 'female'}">
Bust size
<h:inputText id="bustSize" value="#{survey.bustSize}" ></h:inputText>
<h:message for="bustSize"></h:message>

Bra size
<h:inputText id="braSize" value="#{survey.braSize}" ></h:inputText>
<h:message for="braSize"></h:message>

Waist
<h:inputText id="waist" value="#{survey.waist}"></h:inputText>
<h:message for="waist"></h:message>

Hip
<h:inputText id="hip" value="#{survey.hip}" ></h:inputText>
<h:message for="hip"></h:message>

Leg length
<h:inputText id="legLength" value="#{survey.legLength}"></h:inputText>
<h:message for="legLength"></h:message>

</h:panelGrid>
<h:panelGrid columns="3" id="maleQuery" rendered="#{survey.sex == 'male'}">
Chest
<h:inputText id="chest" value="#{survey.chest}" ></h:inputText>
<h:message for="chest"></h:message>

Waist
<h:inputText id="waistMale" value="#{survey.waist}" ></h:inputText>
<h:message for="waistMale"></h:message>

Leg length
<h:inputText id="legLengthMale" value="#{survey.legLength}" ></h:inputText>
<h:message for="legLengthMale"></h:message>
</h:panelGrid>
</h:panelGroup>
<h:commandButton value="Send!" action="thank.xhtml"></h:commandButton>

</h:form>
</h:body>
</html>