<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
<h1>Thanks for filling the survey!</h1>
<h:panelGrid columns="2" id="commonData">

Name
<h:outputText id="name" value="#{param['survey:name']}"></h:outputText>

Last name
<h:outputText id="lastName" value="#{param['survey:lastName']}"></h:outputText>

Address
<h:outputText id="address" value="#{param['survey:address']}"></h:outputText>

Phone
<h:outputText id="phone" value="#{param['survey:phone']}" label="Phone"></h:outputText>

E-mail
<h:outputText id="email" value="#{param['survey:email']}" label="E-mail"></h:outputText>

Age
<h:outputText id="age" value="#{param['survey:age']}"></h:outputText>

Height
<h:outputText id="height" value="#{param['survey:height']}"
			label="Height"></h:outputText>

Weight
<h:outputText id="weight" value="#{param['survey:weight']}"
			label="Weight"></h:outputText>

Eyes color
<h:outputText id="eyesColor" value="#{param['survey:eyesColor']}"></h:outputText>

Hair color
<h:outputText id="hairColor" value="#{param['survey:hairColor']}"></h:outputText>

Cloth size
<h:outputText id="clothSize" value="#{param['survey:clothSize']}"></h:outputText>

Shoe size
<h:outputText id="shoeSize" value="#{param['survey:shoeSize']}"></h:outputText>

Experience
<h:outputText id="experience" value="#{param['survey:experience']}"></h:outputText>

Sex
<h:outputText id="sex" value="#{param['survey:sex']}"></h:outputText>
	</h:panelGrid>
	<h:panelGroup id="sexChange">
		<h:panelGrid columns="2" id="femaleQuery"
			rendered="#{param['survey:sex'] == 'female'}">
Bust size
<h:outputText id="bustSize" value="#{param['survey:bustSize']}"></h:outputText>

Bra size
<h:outputText id="braSize" value="#{param['survey:braSize']}"></h:outputText>

Waist
<h:outputText id="waist" value="#{param['survey:waist']}"></h:outputText>

Hip
<h:outputText id="hip" value="#{param['survey:hip']}"></h:outputText>

Leg length
<h:outputText id="legLength" value="#{param['survey:legLength']}"></h:outputText>

</h:panelGrid>
<h:panelGrid columns="2" id="maleQuery"
			rendered="#{param['survey:sex'] == 'male'}">
Chest
<h:outputText id="chest" value="#{param['survey:chest']}"></h:outputText>

Waist
<h:outputText id="waistMale" value="#{param['survey:waistMale']}"></h:outputText>

Leg length
<h:outputText id="legLengthMale" value="#{param['survey:legLengthMale']}"></h:outputText>
		</h:panelGrid>
	</h:panelGroup>
</h:body>
</html>