<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
<h:panelGrid columns="2">
Old client:
<h:outputText value="#{param['clientForm:clientType']}"></h:outputText>

Name
<h:outputText id="name" value="#{param['clientForm:clientType']}"></h:outputText>

E-mail
<h:outputText id="email" value="#{param['clientForm:email']}" label="email" required="true"></h:outputText>

Post code
<h:outputText id="postCode" value="#{param['clientForm:postCode']}" label="Post code">
</h:outputText>

Age
<h:outputText id="age" value="#{param['clientForm:age']}" label="Age"></h:outputText>

Sex
<h:outputText id="sex" value="#{param['clientForm:sex']}" label="Sex"></h:outputText>

Education
<h:outputText id="education" value="#{param['clientForm:education']}" label="Education"></h:outputText>

Size
<h:outputText id="size" value="#{param['clientForm:size']}" label="Size">
</h:outputText>
</h:panelGrid>

<h:panelGroup id="clientTypeDependent">
<h:panelGrid columns="2" rendered="#{param['clientForm:clientType']=='no'}" id="newClient">
How much will you spend on clothes monthly?
<h:outputText id="clothesPrice" value="#{param['clientForm:clothesPrice']}">
</h:outputText>

Where do you buy clothes most often?
<h:outputText id="buyPlace" value="#{param['clientForm:buyPlace']}">
</h:outputText>

How often do you buy clothes?
<h:outputText id="buyFrequency" value="#{param['clientForm:buyFrequency']}">
</h:outputText>

What clothes color do you prefer?
<h:outputText id="clothesColor" value="#{param['clientForm:clothesColor']}">
</h:outputText>

What type of colthes you most often buy?
<h:outputText id="clothesType" value="#{param['clientForm:clothesType']}">
</h:outputText>
</h:panelGrid>

<h:panelGrid columns="2" rendered="#{param['clientForm:clientType']=='yes'}" id="oldClient">
When you last time buy something in our shop?
<h:outputText id="lastBuy" value="#{param['clientForm:lastBuy']}">
</h:outputText>

Are you satisfied with your purchase?
<h:outputText id="buySatisfaction" value="#{param['clientForm:buySatisfaction']}">
</h:outputText>

Are you satisfied with ours employees?
<h:outputText id="employeeSatisfaction" value="#{param['clientForm:employeeSatisfaction']}">
</h:outputText>

Remarks
<h:outputText id="remarks" value="#{param['clientForm:remarks']}"></h:outputText>

</h:panelGrid>
</h:panelGroup>
</h:body>
</html>