<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
<h:form>
Ad:
<h:commandLink id="ad" action="ad.xhtml" actionListener="#{advertisement.addonClicked}">
<h:outputText value="#{advertisement.ad}"></h:outputText>
</h:commandLink>
</h:form>

<h:form id="clientForm">
<h:panelGrid columns="3">
Have you bought anything in our shop?
<h:selectOneMenu id="clientType" value="#{survey.clientType}" label="clientType">
	<f:selectItem itemValue=""></f:selectItem>
	<f:selectItem itemValue="yes"></f:selectItem>
	<f:selectItem itemValue="no"></f:selectItem>
	<f:ajax event="change" render="clientTypeDependent"></f:ajax>
</h:selectOneMenu>
<h:message for="clientType"></h:message>

Name
<h:inputText id="name" value="#{survey.name}" label="Name" required="true"></h:inputText>
<h:message for="name"></h:message>

E-mail
<h:inputText id="email" value="#{survey.email}" label="email" required="true">
<f:validateRegex pattern="[\w\.]*@[\w]*\.[\w\.]*[\w]"></f:validateRegex>
</h:inputText>
<h:message for="email"></h:message>

Post code
<h:inputText id="postCode" value="#{survey.postcode}" label="Post code">
<f:validateRegex pattern="^[\d]{2}-[\d]{3}$"></f:validateRegex>
</h:inputText>
<h:message for="postCode"></h:message>

Age
<h:inputText id="age" value="#{survey.age}" label="Age">
<f:validateLongRange minimum="10" maximum="100"></f:validateLongRange></h:inputText>
<h:message for="age"></h:message>

Sex
<h:selectOneMenu id="sex" value="#{survey.sex}" label="Sex">
	<f:selectItem itemValue=""></f:selectItem>
	<f:selectItem itemValue="male"></f:selectItem>
	<f:selectItem itemValue="female"></f:selectItem>
	<f:ajax event="change" render="clothesType"></f:ajax>
</h:selectOneMenu>
<h:message for="sex"></h:message>

Education
<h:inputText id="education" value="#{survey.education}" label="Education"></h:inputText>
<h:message for="education"></h:message>

Size
<h:inputText id="size" value="#{survey.size}" label="Size">
<f:validateLongRange minimum="20" maximum="50"></f:validateLongRange>
</h:inputText>
<h:message for="size"></h:message>

</h:panelGrid>

<h:panelGroup id="clientTypeDependent">
<h:panelGrid columns="3" rendered="#{param['clientForm:clientType'] == 'no'}" id="newClient">
How much will you spend on clothes monthly?
<h:selectOneMenu id="clothesPrice" value="#{survey.clothesPrice}">
<f:selectItem itemValue="to $100"></f:selectItem>
<f:selectItem itemValue="$100-500"></f:selectItem>
<f:selectItem itemValue="$500-1000"></f:selectItem>
<f:selectItem itemValue="above $1000"></f:selectItem>
</h:selectOneMenu>
<h:message for="clothesPrice"></h:message>

Where do you buy clothes most often?
<h:selectOneMenu id="buyPlace" value="#{survey.buyPlace}">
<f:selectItem itemValue="Outlet"></f:selectItem>
<f:selectItem itemValue="Hypermarket"></f:selectItem>
<f:selectItem itemValue="Bazaar"></f:selectItem>
<f:selectItem itemValue="Second-hand"></f:selectItem>
</h:selectOneMenu>
<h:message for="buyPlace"></h:message>

How often do you buy clothes?
<h:selectOneMenu id="buyFrequency" itemValue="#{survey.buyFrequency}">
<f:selectItem itemValue="Everyday"></f:selectItem>
<f:selectItem itemValue="Once in week"></f:selectItem>
<f:selectItem itemValue="Once in month"></f:selectItem>
<f:selectItem itemValue="A few times in year"></f:selectItem>
</h:selectOneMenu>
<h:message for="buyFrequency"></h:message>

What clothes color do you prefer?
<h:selectOneMenu id="clothesColor" itemValue="#{survey.clothesColor}">
<f:selectItem itemValue="Highly-coloured"></f:selectItem>
<f:selectItem itemValue="Soft - grayness"></f:selectItem>
<f:selectItem itemValue="Black and white"></f:selectItem>
<f:selectItem itemValue="Only black"></f:selectItem>
</h:selectOneMenu>
<h:message for="clothesColor"></h:message>

What type of colthes you most often buy?
<h:selectOneMenu id="clothesType" itemValue="#{survey.clothesType}">
<f:selectItems value="#{survey.clothesTypes}"></f:selectItems>
</h:selectOneMenu>
<h:message for="clothesType"></h:message>
</h:panelGrid>

<h:panelGrid columns="3" rendered="#{param['clientForm:clientType']=='yes'}" id="oldClient">
When you last time buy something in our shop?
<h:selectOneMenu id="lastBuy" itemValue="#{survey.lastBuy}">
<f:selectItem itemValue="Yesterday"></f:selectItem>
<f:selectItem itemValue="Last week"></f:selectItem>
<f:selectItem itemValue="Last month"></f:selectItem>
<f:selectItem itemValue="A few months ago"></f:selectItem>
<f:selectItem itemValue="I don't remember"></f:selectItem>
</h:selectOneMenu>
<h:message for="lastBuy"></h:message>

Are you satisfied with your purchase?
<h:selectOneMenu id="buySatisfaction" itemValue="#{survey.buySatisfaction}">
<f:selectItem itemValue="Yes"></f:selectItem>
<f:selectItem itemValue="Rather yes"></f:selectItem>
<f:selectItem itemValue="Rather no"></f:selectItem>
<f:selectItem itemValue="No"></f:selectItem>
<f:selectItem itemValue="I don't know"></f:selectItem>
</h:selectOneMenu>
<h:message for="buySatisfaction"></h:message>

Are you satisfied with ours employees?
<h:selectOneMenu id="employeeSatisfaction" itemValue="#{survey.employeeSatisfaction}">
<f:selectItem itemValue="Yes"></f:selectItem>
<f:selectItem itemValue="Rather yes"></f:selectItem>
<f:selectItem itemValue="Rather no"></f:selectItem>
<f:selectItem itemValue="No"></f:selectItem>
<f:selectItem itemValue="I don't know"></f:selectItem>
</h:selectOneMenu>
<h:message for="employeeSatisfaction"></h:message>

Remarks
<h:inputTextarea id="remarks" value="#{survey.remarks}"></h:inputTextarea>
<h:message for="remarks"></h:message>

</h:panelGrid>
</h:panelGroup>
<h:commandButton value="Send!" action="summary.xhtml"></h:commandButton>

</h:form>
</h:body>
</html>