<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
</h:head>
<h:body>
Add currency<br />
	<h:form id="addCurrency">
Short currency name: <h:inputText id="currency"
			value="#{admin.currency}"></h:inputText>
		<h:message for="currency" style="color:red;"/>
		<br />

		<h:commandButton action="#{admin.add}" value="Add!"></h:commandButton>
	</h:form>
<a href="http://www.nbp.pl/Kursy/KursyA.html">Possible currency list (use "kod waluty")</a>
</h:body>
</html>