<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
</h:head>
<h:body>
	<h:form>
		<h:inputText id="amount" value="#{currencyCalculator.amount}"></h:inputText>
from
<h:selectOneMenu id="fromCurrency"
			value="#{currencyCalculator.fromCurrency}">
			<f:selectItems value="#{currencyCalculator.currencies}"></f:selectItems>
		</h:selectOneMenu>
to
<h:selectOneMenu id="toCurrency"
			value="#{currencyCalculator.toCurrency}">
			<f:selectItems value="#{currencyCalculator.currencies}"></f:selectItems>
		</h:selectOneMenu>
		<h:commandButton id="compute" value="Convert!" action="#{currencyCalculator.compute}" />
			<!-- actionListener="#{exchange.CurrencyCalculator.computeEvent}" /> -->
		<br />
		<h:inputText readonly="true"
			value="#{currencyCalculator.result}"></h:inputText>
	</h:form>
<br />
<a href="admin.xhtml">Add currency</a>
</h:body>
</html>