<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
</h:head>
<h:body>
<h1>Sprawdź szansę na wygraną!</h1>
<h:form>
Podaj sowje dane:
PESEL <h:inputText /> <br />
Imię <h:inputText /> <br />
Nazwisko <h:inputText /> <br />
<h:commandButton value="Wyślij" action="#{szansa.wyslij}" />
</h:form>
</h:body>
</html>